@import '../../styles/typography';
@import '../../styles/breakpoint';
@import '../../styles/spacing';
@import '../../styles/colors';
@import '../../styles/grids';

.embed {
    height: 80vh;

    @include respond-to('small') {
        height: 65vh;
        grid-column: left-main / right-main;
    }
}