@import '../../styles/typography';
@import '../../styles/breakpoint';
@import '../../styles/spacing';
@import '../../styles/colors';
@import '../../styles/grids';

.embed {
    height: 80vh;

    @include respond-to('small') {
        height: 65vh;
        grid-column: left-main / right-main;
    }
}

.container {
    display: grid;
    @include content-grid;
}

.button {
    margin: 0 $spacing-sm $spacing-sm  $spacing-sm;
    padding: $spacing-sm $spacing-xs $spacing-sm $spacing-md;
    background-color: $color-field-01;
    border: 0px solid transparent;
    border-radius: 4px;
    @include font-family;
    @include font-weight-body-bold;
    @include line-height('body');
    @include typescale('body1');
    color: $color-inverse-01;
    cursor: pointer;

    @include respond-to('small') {
        margin-left: 0;
        margin-right: 0;
        grid-column: main / half-main;
    }
}

.icon {
    display: inline-block;
    margin: 0 auto;
    color: $color-inverse-01;
}

.contentEmbed {
    display: grid;
    @include content-grid;
    grid-column: left-gutter / end;
    margin: 0 auto $spacing-sm auto;

    .embed {
        padding: 0 $spacing-sm;
        height: auto;
        grid-column: left-gutter / end;

        @include respond-to('small') {
            padding: 0;
            grid-column: left-main / right-gutter;
        }
    }

    .acuityEmbed {
        padding: 0 $spacing-sm;
        height: auto;
        min-height: 100vh;
        grid-column: left-gutter / end;

        @include respond-to('small') {
            padding: 0;
            grid-column: left-main / right-gutter;
        }
    }

    div {
        margin: 0 auto;

        @include respond-to('small') {
            height: auto;
            grid-column: left-main / right-gutter;
        }
    }
}
