@import '../../styles/typography';
@import '../../styles/breakpoint';
@import '../../styles/spacing';
@import '../../styles/colors';
@import '../../styles/grids';

.blockAcademicOfferingListing {
    margin: 0;
    padding: 0;

    a:link,
    a:visited {
        color: currentColor;
    }

    a:hover,
    a:active {
        color: $color-hover-secondary;
    }
}