@import '../styles/typography';
@import '../styles/breakpoint';
@import '../styles/spacing';
@import '../styles/colors';

.globalFooter {
    display: grid;
    grid-template-columns: [left-gutter] 1fr [left-main] 0fr [main] 6fr [right-main] 0fr [right-gutter] 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: $spacing-sm;
    grid-row-gap: 0px;

    margin: 1rem 0 0 0;

    background-color: transparentize($palette-link-water, .5);
    color: $color-ui-05;

    @include respond-to('small') {
        grid-template-columns: [left-gutter] 1fr [left-main] 2fr [main] 6fr [right-main] 2fr [right-gutter] 1fr;
    }

    a:link,
    a:visited {
        color: $color-ui-05;
    }

    a:hover,
    a:active {
        color: $color-ui-05;
    }
}

.footerResourceLink {
    @include line-height('body');
}

.h1 {
    @include font-family-headings;
    font-weight: 400;
    @include line-height('heading');
    @include font-smoothing;
    @include letter-spacing;
    @include typescale('h1');
}

.h2 {
    margin-top: .25em;
    @include font-family-headings;
    font-weight: 400;
    @include line-height('heading');
    @include font-smoothing;
    @include letter-spacing;
    @include typescale('h2');
}

.h3 {
    @include font-family-headings;
    font-weight: 400;
    @include line-height('heading');
    @include font-smoothing;
    @include letter-spacing;
    @include typescale('h3');
}

.p, .li {
    margin-bottom: 1em;
    @include font-family;
    @include font-weight-body;
    @include line-height('body');
    @include typescale('body1');
}

.contact {
    grid-column: left-gutter / end;
    padding: $spacing-md;

    text-align: center;

    p {
        display: inline-block;
        @include font-family;
        font-weight: 600;
        @include line-height('body');
        @include typescale('body1');
    }
}

.telephone {
    padding: 0 $spacing-sm;

    @include respond-to('small') {
        border-right: 1px solid currentColor;
    }
}

.address {
    padding: 0 $spacing-sm;
}

.map {
    grid-column: left-gutter / end;
    padding: $spacing-md $spacing-2xl;

    @include respond-to('small') {
        padding: $spacing-md;
        grid-column: left-gutter / main;
    }

    @include respond-to('large') {
        grid-column: left-main / main;
    }
}

.navigation {
    grid-column: left-gutter / end;
    padding: $spacing-md;

    li {
        margin: 0 0 $spacing-sm;
    }

    @include respond-to('small') {
        grid-column: main;
    }

    @include respond-to('medium') {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: $spacing-lg;
    }
}

.relatedLinks {
    grid-column: left-gutter / end;
    padding: $spacing-md;

    @include respond-to('small') {
        grid-column: left-main right-main;
    }
}

.logo {
    grid-column: left-gutter / end;
    padding: $spacing-md $spacing-2xl;

    @include respond-to('small') {
        padding: $spacing-md;
        grid-column: right-main / end;
    }

    @include respond-to('large') {
        grid-column: right-main / right-gutter;
    }
}

.socialNav {
    display: inline-block;

    ul {
        display: inline-block;
        
        li {
            margin: 0 $spacing-2xs;
            display: inline-block;
        }
    }

    p {
        display: inline-block;
        @include font-family-headings;
        font-weight: 400;
        @include line-height('heading');
        @include font-smoothing;
        @include letter-spacing;
        @include typescale('h4');
    }

    span {
        display: none;
    }
}

.image {
    grid-column: left-main / right-gutter;
}

.textBlock {
    grid-column: left-gutter / right-gutter;

    @include respond-to('small') {
        margin-left: 0;
        margin-right: 0;
        grid-column: main;
    }
}

.embeddedBlock {
    grid-column: left-gutter / end;
}