@import '../styles/typography';
@import '../styles/breakpoint';
@import '../styles/colors';
@import '../styles/spacing';
@import '../styles/grids';

.leadImage {
    margin: 0 0 $spacing-md 0;
    padding: 0;
    width: 100%;
    height: auto;
}