@import '../styles/typography';
@import '../styles/breakpoint';
@import '../styles/colors';
@import '../styles/spacing';
@import '../styles/grids';

.leadImage {
    display: grid;
    @include content-grid;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}

.image {
    grid-column: left-gutter / end;

    @include respond-to('large') {
        border-radius: 6px;
        grid-column: left-main / right-gutter;
    }
}