@import '../styles/typography';
@import '../styles/breakpoint';
@import '../styles/colors';
@import '../styles/spacing';
@import '../styles/grids';

.offering {
    padding: 0 $spacing-sm;
    border: 2px solid $color-ui-03;
    border-radius: 6px;

    @include respond-to('small') {
        height: 100%;
    }

    a:link,
    a:visited {
        color: currentColor;
    }

    a:hover,
    a:active {
        color: $color-hover-secondary;
    }
}

.offeringsList {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: $spacing-lg;
    grid-row-gap: $spacing-md;

    grid-column: left-gutter / end;

    @include respond-to('small') {
        grid-template-columns: 1fr 1fr;
        grid-column: left-main / right-gutter;
    }
}

.header {
    display: flex;
    flex-direction: column;
}

.heading {
    margin: 0 $spacing-md;
    grid-column: left-gutter / end;

    @include font-family-headings;
    font-weight: 400;
    @include line-height('heading');
    @include font-smoothing;
    @include letter-spacing;
    @include typescale('h4');
    text-align: center;
    color: $color-text-02;

    order: 1;

    @include respond-to('small') {
        margin-left: 0;
        margin-right: 0;
        @include typescale('h3');
        grid-column: main / right-main;
    }
}

.overline {
    display: inline;
    margin-bottom: $spacing-xs;
    padding: $spacing-2xs $spacing-xs;
    @include font-family;
    font-weight: 400;
    line-height: 2.5;
    @include letter-spacing-wide;
    @include typescale('body2');
    background-color: $color-ui-04;
    border-radius: 4px;
    text-transform: uppercase;
    color: $color-brand-01;

    order: 0;

    &:after {
        content: '\A';
        white-space: pre;
    }

    @include respond-to('small') {
        @include line-height('body');
        @include typescale('overline');
    }
}

.tags {
    display: block;
    padding: $spacing-xs 0;
    @include font-family;
    font-weight: 400;
    @include line-height('body');
    @include letter-spacing-wide;
    @include typescale('body2');
    background-color: $color-ui-01;
    border-radius: 0;
    text-transform: uppercase;
    color: $color-brand-01;

    &:after {
        content: '\A';
        white-space: pre;
    }

    span {
        margin-right: $spacing-xs;
        padding-right: $spacing-xs;
        border-right: 1px solid currentColor;
    }

    span:last-child {
        border-right: none;
    }
}

.courseHeading {
    margin: $spacing-xs 0;
    @include font-family-headings;
    font-weight: 400;
    @include line-height('heading');
    @include font-smoothing;
    @include letter-spacing;
    @include typescale('h4');

    order: 1;

    @include respond-to('small') {
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
        @include typescale('h3');
    }
}

.courseSummary {
    margin: 0 0 $spacing-xs 0;
    @include font-family;
    @include font-weight-body;
    @include line-height('body');
    @include typescale('body1');

    @include respond-to('small') {
        margin-left: 0;
        margin-right: 0;
    }
}

.internal {
    display: block;
    padding-right: $spacing-lg;
    text-decoration: none;

    .icon {
        position: relative;
        top: -.2em;
        display: inline-block;
        margin-left: -$spacing-md;
        transform: translate($spacing-lg);
        font-size: .4em;
    }

    .icon {
        display: inline-block;
        margin-left: -$spacing-md;
        transform: translate($spacing-lg);
    }
}