@import '../styles/typography';
@import '../styles/breakpoint';
@import '../styles/colors';
@import '../styles/spacing';

.pageHeading {
    display: grid;
    grid-template-columns: [left-gutter] 1fr [left-main] 2fr [main] 6fr [right-main] 2fr [right-gutter] 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: $spacing-sm;
    grid-row-gap: 0px;

    @include font-family-headings;
    font-weight: 400;
    @include line-height('heading');
    @include font-smoothing;
    @include letter-spacing;
    @include typescale('h2');

    color: $color-text-02;

    @include respond-to('small') {
        margin-left: 0;
        margin-right: 0;
    }

    & span {
        grid-column: left-main / right-gutter;

        @include respond-to('small') {
            grid-column: main / right-gutter;
        }
    }

    & em {
        color: $color-brand-03;
    }
}