@import '../styles/typography';
@import '../styles/breakpoint';
@import '../styles/colors';
@import '../styles/spacing';
@import '../styles/grids';

.pageHeading {
    display: grid;
    @include content-grid;
    padding: $spacing-md 0 0 0;

    @include respond-to('small') {
        margin-left: 0;
        margin-right: 0;
    }

    & span {
        margin: 0 $spacing-md;
        grid-column: left-gutter / end;

        @include font-family-headings;
        font-weight: 400;
        @include line-height('heading');
        @include font-smoothing;
        @include letter-spacing;
        @include typescale('h3');
    
        color: $color-text-02;

        @include respond-to('small') {
            margin: 0;
            grid-column: left-main / right-gutter;
            @include typescale('h1');
        }
    }

    & em {
        color: $color-brand-03;
    }

    a:link,
    a:visited {
        color: currentColor;
    }

    a:hover,
    a:active {
        color: $color-hover-secondary;
    }
}

.overline {
    display: block;
    grid-column: left-gutter / end;
    margin: 0 $spacing-md;

    @include font-family;
    font-weight: 400;
    @include line-height('body');
    @include letter-spacing-wide;
    @include typescale('overline');

    text-transform: uppercase;
    color: $color-brand-01;

    @include respond-to('small') {
        margin: 0;
        grid-column: left-main / right-gutter;
    }

    &:after {
        content: '\A';
        white-space: pre;
    }
}

.internal {
    text-decoration: none;

    .icon {
        margin-left: $spacing-xs;
    }
}