@import '../styles/typography';
@import '../styles/breakpoint';
@import '../styles/colors';
@import '../styles/spacing';
@import '../styles/grids';

.person {
    margin: 0;
    border: 2px solid $color-ui-03;
    border-radius: 6px;
    color: $color-text-02;
    overflow: hidden;

    @include respond-to('small') {
        display: grid;
        grid-template-columns: 2fr 3fr;
        margin-left: 0;
        margin-right: 0;
        grid-column: main / right-main;
        height: 100%;
    }
}

.details {
    padding: $spacing-md;

    &:first-child {
        /* Handles lack of person headshot */
        grid-column: 1 / span 2;
    }
}

.image {
    position: relative;
}

.name {
    @include font-family-headings;
    font-weight: 400;
    @include line-height('heading');
    @include font-smoothing;
    @include letter-spacing;
    @include typescale('h4');

    a:link,
    a:visited {
        color: currentColor;
    }

    a:hover,
    a:active {
        color: $color-hover-secondary;
    }

    .internal {
        text-decoration: none;

        .icon {
            margin-left: $spacing-xs;
        }
    }
}

.jobTitle {
    margin-bottom: $spacing-sm;
    @include font-family;
    @include font-weight-body-bold;
    @include line-height('body');
    @include typescale('body1');
    font-style: italic;
    white-space: pre-wrap;
}

.info {
    margin-bottom: $spacing-2xs;
    
    a:link,
    a:visited {
        color: currentColor;
    }

    a:hover,
    a:active {
        color: $color-hover-secondary;
    }

    .text {
        display: inline-block;
        padding-right: $spacing-md;
    }

    .icon {
        display: inline-block;
        margin-left: -$spacing-md;
        transform: translate($spacing-lg);
    }

    .external {
        @include font-weight-body-bold;
    }

    .internal {
        @include font-weight-body;
        text-decoration: none;
    }
}

.department {
    margin-top: $spacing-md;
    @include font-family-headings;
    font-weight: 400;
    @include line-height('heading');
    @include font-smoothing;
    @include letter-spacing;
    @include typescale('h5');
}

.building {
    @include font-weight-body;
}

.overline {
    display: block;
    grid-column: left-gutter / end;

    @include font-family;
    font-weight: 400;
    @include line-height('body');
    @include letter-spacing-wide;
    @include typescale('overline');

    text-transform: uppercase;
    color: $color-brand-01;

    @include respond-to('small') {
        grid-column: left-main / right-gutter;
    }

    &:after {
        content: '\A';
        white-space: pre;
    }
}