@import '../styles/typography';
@import '../styles/breakpoint';
@import '../styles/spacing';

.primaryContent {
    display: grid;
    grid-template-columns: [left-gutter] 1fr [left-main] 2fr [main] 6fr [right-main] 2fr [right-gutter] 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: $spacing-sm;
    grid-row-gap: 0px;

    margin: 1rem 0;
}

.h1 {
    @include font-family-headings;
    font-weight: 400;
    @include line-height('heading');
    @include font-smoothing;
    @include letter-spacing;
    @include typescale('h1');
}

.h2 {
    margin-top: .25em;
    @include font-family-headings;
    font-weight: 400;
    @include line-height('heading');
    @include font-smoothing;
    @include letter-spacing;
    @include typescale('h2');
}

.h3 {
    @include font-family-headings;
    font-weight: 400;
    @include line-height('heading');
    @include font-smoothing;
    @include letter-spacing;
    @include typescale('h3');
}

.h4 {
    @include font-family-headings;
    font-weight: 400;
    @include line-height('heading');
    @include font-smoothing;
    @include letter-spacing;
    @include typescale('h4');
}

.h5 {
    @include font-family-headings;
    font-weight: 400;
    @include line-height('heading');
    @include font-smoothing;
    @include letter-spacing;
    @include typescale('h5');
}

.h6 {
    @include font-family-headings;
    font-weight: 400;
    @include line-height('heading');
    @include font-smoothing;
    @include letter-spacing;
    @include typescale('h6');
}

.p, .li {
    margin-bottom: 1em;
    @include font-family;
    @include font-weight-body;
    @include line-height('body');
    @include typescale('body1');
}

.image {
    grid-column: left-main / right-gutter;
}

.textBlock {
    grid-column: left-gutter / right-gutter;

    @include respond-to('small') {
        margin-left: 0;
        margin-right: 0;
        grid-column: main;
    }
}

.embeddedBlock {
    grid-column: left-gutter / end;
}