@import '../styles/typography';
@import '../styles/breakpoint';
@import '../styles/colors';
@import '../styles/spacing';
@import '../styles/grids';

.relatedOfferings {
    display: grid;
    @include content-grid;

    @include respond-to('small') {
        margin-left: 0;
        margin-right: 0;
    }

    a:link,
    a:visited {
        color: currentColor;
    }

    a:hover,
    a:active {
        color: $color-hover-secondary;
    }
}

.offeringsList {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: $spacing-lg;
    grid-row-gap: $spacing-md;

    grid-column: left-gutter / end;

    @include respond-to('small') {
        grid-template-columns: 1fr 1fr;
        grid-column: left-main / right-gutter;
    }
}