@import '../../styles/typography';
@import '../../styles/breakpoint';
@import '../../styles/colors';
@import '../../styles/spacing';
@import '../../styles/grids';

.searchBox {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: center;
    height: 100%;
}

.search {
    position: relative;
}

.results {
    position: absolute;
    right: -$spacing-sm;
    padding: 0;
    width: 100vw;
    height: 60vh;
    background: white;
    border: 1px solid currentColor;
    border-radius: 4px;
    transform: translateY($spacing-sm);
    z-index: 1000;

    box-shadow:
        0 0.8px 0.7px rgba(0, 0, 0, 0.028),
        0 2px 1.8px rgba(0, 0, 0, 0.04),
        0 3.8px 3.4px rgba(0, 0, 0, 0.05),
        0 6.7px 6px rgba(0, 0, 0, 0.06),
        0 12.5px 11.3px rgba(0, 0, 0, 0.072),
        0 30px 27px rgba(0, 0, 0, 0.1)
    ;

    @include respond-to('small') {
        right: 0;
        width: 65vw;
        height: 50vh;
    }

    @include respond-to('medium') {
        width: 50vw;
        height: 50vh;
    }

    .hit {
        padding: $spacing-sm 0;
        border-bottom: 2px solid $color-ui-03;
    }

    &:after, &:before {
        bottom: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;

        @include respond-to('small') {
            left: 70%;
        }
    }
    
    &:after {
        border-color: rgba(136, 183, 213, 0);
        border-bottom-color: white;
        border-width: 9px;
        margin-left: -9px;
    }
    &:before {
        border-color: rgba(194, 225, 245, 0);
        border-bottom-color: currentColor;
        border-width: 10px;
        margin-left: -10px;
    }
}

.searchResults {
    display: grid;
    @include content-grid;
    margin: $spacing-md;

    @include respond-to('small') {
        margin: $spacing-md 0;
    }
}

.gridResults {
    display: flex;
    flex-wrap: wrap;

    .hit {
        flex: 0 1 100%;
        margin: $spacing-md 0 0 0;
        padding: 0 0 $spacing-xs 0;
    
        &:last-child {
            border-width: 0;
        }
    
        @include respond-to('medium') {
            flex: 0 1 50%;
            padding-right: $spacing-sm;
        }
    }
}

.introduction {
    @include respond-to('small') {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
}

.heading {
    margin: 0 $spacing-md;
    padding: $spacing-sm 0 0 0;

    @include font-family-headings;
    font-weight: 400;
    @include line-height('heading');
    @include font-smoothing;
    @include letter-spacing;
    @include typescale('h4');

    color: $color-text-02;

    @include respond-to('small') {
        margin-left: 0;
        margin-right: 0;
        @include typescale('h3');
    }
}

.summary {
    margin-bottom: $spacing-sm;
    @include font-family;
    @include font-weight-body;
    @include line-height('body');
    @include typescale('body1');
    white-space: pre-wrap;
}

.hits {
    padding: $spacing-sm $spacing-md $spacing-md $spacing-md;
    height: 100%;
    overflow: auto;

    @include respond-to('small') {
        margin-left: 0;
        margin-right: 0;
    }
}

.query {
    display: inline-block;
    padding: 0 $spacing-xs;
    background-color: $color-ui-04;
    color: $color-text-01;
}

.pagination {
    margin: 0 $spacing-md;
    width: 100%;

    @include respond-to('small') {
        margin-left: 0;
        margin-right: 0;
    }

    ul {
        display: block;
        width: 100%;
        text-align: center;

        li {
            display: inline-block;
            margin: $spacing-2xs;
            @include font-family;
            @include font-weight-body-bold;
            @include line-height('body');
            @include typescale('body1');

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: $spacing-2xs;
                width: 2.5rem;
                height: 2.5rem;
                background-color: $color-field-01;
                border-radius: 4px;

                &:link,
                &:visited {
                    text-decoration: none;
                    color: white;
                }

                &:hover {
                    background-color: $color-brand-03;
                }
            }

            span {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: $spacing-2xs;
                width: 2.5rem;
                height: 2.5rem;
                border-width: 1px;
                border-style: solid;
                border-radius: 4px;
                border-color: $color-field-01;
            }
        }
    }
}